#HiHello {
    width: 100%;
    margin: 0;
}

body {
    margin: 0;
}

.container {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    width: 100%;
    top: 0%;
    color: white;
    font-size: 350px;
    text-align: center;
}
