#HiHello {
  width: 100%;
  margin: 0;
}

body{
  margin: 0;
}

.container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  left: 37.5%;
  top: 5%;
  translate: (-50%, -50%);
  color: white;
  font-size: 350px;
  text-align: center;
}